---
permalink: /css-bundle.css
---
{% include "./css/styles.css" %}
{% include "./css/components/button.css" %}
{% include "./css/components/footer.css" %}
{% include "./css/components/nav.css" %}
{% include "./css/components/page-hero.css" %}
{% include "./css/components/cookie-banner.css" %}
{% include "./css/pages/index.css" %}
{% include "./css/pages/equipes.css" %}
{% include "./css/pages/ecole.css" %}
{% include "./css/pages/partenariat.css" %}
{% include "./css/pages/boutique.css" %}
{% include "./css/pages/inscription.css" %}
{% include "./css/pages/contact.css" %}